<%- include("partials/header") -%>

    <h1>
        <%= tittleChoosen %>
    </h1>
    <p>
        <%= ContentChoosen %>
    </p>


    <%- include("partials/footer") -%>

        <!--post.ejs is created to showcase blog in a seprate page-->>